@media (max-width:800px){
    .ds-none-t{
        display: none;
    }
    .hero__categories ul{
        display: none;
    }
}

.underline-text{
    text-decoration: underline;
}
.underline-text:hover{
    color: #2ecc71;
}


.btn-checkout {background-image: linear-gradient(to right, #33df58 0%, #15dfa2  51%, #25be58  100%)}
.btn-checkout {
    padding: 10px 25px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: rgb(255, 255, 255);            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    cursor: pointer;
    font-weight: 800;
}

.btn-checkout:hover {
   background-position: right center; /* change the direction of the change here */
    color: #fff !important;
    text-decoration: none;
}

.header__logo{
    padding: 0;
}
.header__cart__price{
    color: rgb(216, 215, 215) !important
}
.custom_icon_social{
    padding: 10px 15px;
    background-color: rgb(233, 232, 232);
    border-radius: 50%;
    margin-right: 5px !important;
}
.custom_icon_social:hover{
    background-color: rgb(238, 238, 238);
}
.header__menu ul li{
    margin-right: 20px;
}

.fixed-menu-thang{
    position: fixed;
    width: 300px !important;
    top: 40px;
    left: 80px;
    height: 600px;
    overflow-x: hidden;overflow-y: scroll;
}
.discount{
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 0px 12px;
    background-color: #f00;
    color: white;
    border-radius: 2px;
    box-shadow: 1px 2px 1px 1px rgb(241, 115, 115);
}
.promotion{
    margin-left: 15px;
    color: rgb(190, 188, 188);
    text-decoration: line-through;
    font-size: 18px;
    
}
.btn-filter{
    position: relative;
    border: 1px solid #2ecc71;
    padding: 8px 15px;
    width: 80px;
    cursor: pointer;
    .bi-check-lg{
        color: #2ecc71;
        position: absolute;
        right: 8px;
        top: 0px;
    }
}
.nice-select{
    border: 1px solid #2ecc71 !important;
}
.area-user{
    display: flex;
    align-items: center;
    position: relative;
    .hidden-menu-img{
        position: absolute;
        top: -50px;
        left: 0px;
        right: 0;
        display: none;
        transition: 0.2s;
        z-index: 100;
        li{
            list-style-type: none;
            padding: 8px 12px;
            border-radius: 5px;
            cursor: pointer;
            font-size: 18px;
            &:hover{
                background-color: #d0d6d8
            }
        }
        background-color: #ecf0f1;
        color: #333;
        padding: 20px 25px;
        border-radius: 5px;
        border: 0.5px solid rgb(214, 211, 211);
    }
}
#img-avatar{
    width: 50px;
    height: 50px;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid #8af192;
    cursor: pointer;
    img{
        width: 100%;
        height: auto;

    } 
}
.non-hidden{
    top: 53px !important;
    display: block !important;
}


