@media (max-width: 800px) {
  .ds-none-t {
    display: none;
  }
  .hero__categories ul {
    display: none;
  }
}

.underline-text {
  text-decoration: underline;
}

.underline-text:hover {
  color: #2ecc71;
}

.btn-checkout {
  background-image: -webkit-gradient(linear, left top, right top, from(#33df58), color-stop(51%, #15dfa2), to(#25be58));
  background-image: linear-gradient(to right, #33df58 0%, #15dfa2 51%, #25be58 100%);
}

.btn-checkout {
  padding: 10px 25px;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  -webkit-box-shadow: 0 0 20px #eee;
          box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  cursor: pointer;
  font-weight: 800;
}

.btn-checkout:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff !important;
  text-decoration: none;
}

.header__logo {
  padding: 0;
}

.header__cart__price {
  color: #d8d7d7 !important;
}

.custom_icon_social {
  padding: 10px 15px;
  background-color: #e9e8e8;
  border-radius: 50%;
  margin-right: 5px !important;
}

.custom_icon_social:hover {
  background-color: #eeeeee;
}

.header__menu ul li {
  margin-right: 20px;
}

.fixed-menu-thang {
  position: fixed;
  width: 300px !important;
  top: 40px;
  left: 80px;
  height: 600px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.discount {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 0px 12px;
  background-color: #f00;
  color: white;
  border-radius: 2px;
  -webkit-box-shadow: 1px 2px 1px 1px #f17373;
          box-shadow: 1px 2px 1px 1px #f17373;
}

.promotion {
  margin-left: 15px;
  color: #bebcbc;
  text-decoration: line-through;
  font-size: 18px;
}

.btn-filter {
  position: relative;
  padding: 7px 12px;
  width: 80px;
  cursor: pointer;
  border-radius: 20px;
  text-align: center;
  color: rgb(0, 113, 240);
  background-color: rgb(221, 234, 255);
}

.btn-filter .bi-check-lg {
  color: #2ecc71;
  position: absolute;
  right: 8px;
  top: 0px;
}

.nice-select {
  border: 1px solid #2ecc71 !important;
  width: 100%;
  margin: 5px;
}

.area-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.area-user .hidden-menu-img {
  position: absolute;
  top: -150px;
  width: 300px;
  right: 0;
  display: none;
  z-index: 100;
  background-color: #ecf0f1;
  color: #333;
  padding: 15px 20px;
  padding-top: 25px;
  border-radius: 5px;
  border: 0.5px solid #d6d3d3;
}

.area-user .hidden-menu-img li {
  list-style-type: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.area-user .hidden-menu-img li:hover {
  background-color: #d0d6d8;
}

#img-avatar {
  width: 50px;
  height: 50px;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid #8af192;
  cursor: pointer;
}

#img-avatar img {
  width: 100%;
  height: auto;
}

.non-hidden {
  top: 53px !important;
  display: block !important;
}

.form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-group label {
  font-size: 18px;
}

.form-group input {
  height: 40px;
  padding: 5px 10px;
  width: 300px;
  border-radius: 5px;
  border-color: #876ff0;
  border: 0.5px solid #33df58;
}

button#type-pass {
  margin-top: 40px;
  padding: 15px 20px;
  border: none;
  outline: none;
  background-color: #555;
  color: white;
  font-size: 22px;
  font-weight: 650;
  height: 70px;
}

button#type-pass:hover {
  font-size: 24px;
}

.icon-person {
  padding: 10px;
  border-radius: 50%;
  background-color: #e0dddd;
}
.active-pagi{
  background-color: #15dfa2;
  color:rgb(29, 7, 7) !important;
}
.info-product-size-header{
  font-weight: 600;
  margin-bottom: 20px;
}
.info-product-size{
  display: flex;
}
.info-product-size-item{
  width: 40px;
  height: 40px;
  border: 1px solid rgb(201, 199, 199);
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-right: 8px;
}

.info-product-size-item.none{
  pointer-events: none;
  position: relative;
}
.info-product-size-item.none::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 127%;
  width: 1px;
  color: #777;
  border-radius: 1;
  transform: rotate(-45deg);
  transform-origin: 0% 0%;
  background-color: rgb(184, 181, 181);
}
.info-product-size-item.none::after{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 127%;
  width: 1px;
  color: #777;
  border-radius: 2px;
  transform: rotate(45deg);
  transform-origin: 0% 0%;
  background-color: rgb(184, 181, 181);
}
.info-product-size-item.active{
  border-color: #2ecc71 !important;
  color: #2ecc71 !important;
}
.toastify-custom img{
  width: 50px;
  height: auto;
}
.bi-dash, .bi-plus{
  cursor: pointer;
  padding: 5px 6px;
}
.bi-dash:hover, .bi-plus:hover{
  background-color: rgb(228, 223, 223);
}
select{
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 15px;
}
select:hover{
  border: 1px solid #2ecc71;
}
@media (max-width:650px){
  .writeComment{
    width: 100% !important;
  }
}
/*# sourceMappingURL=custom_thang.css.map *