<!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Humberger Begin -->
    
    <!-- Humberger End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__left">
                            <ul>
                                <li><i class="fa fa-envelope" style="font-size:20px;color: #34b86b;"></i> nguyetchuot15@.com</li>
                                <li>Free Shipping for all Order of $99</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__right">
                            <div class="header__top__right__social">
                                <a href="https://www.facebook.com/profile.php?id=100009169116108"><i class="fa fa-facebook"></i></a>
                                <a href="https://www.instagram.com/nguyet.chuot/"><i class="fa fa-twitter"></i></a>
                                <a href="https://www.instagram.com/nguyet.chuot/"><i class="fa fa-linkedin"></i></a>
                            </div>
                            <div class="header__top__right__auth">
                                <a href="#"><i class="fa fa-user" style="font-size:30px;color: #34b86b;"></i> Login</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo">
                        <a href="/"><img src="/img/logo.png" alt="" width="150px" height="80px"></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <nav class="header__menu">
                        <ul>
                            <li class="active"><a href="/">Home</a></li>
                            <li><a href="/product">All Product</a>
                                <ul class="header__menu__dropdown">                                  
                                    <li><a href="/product/tee">Tee</a></li>
                                    <li><a href="/product/jacket">Jacket | Bomber</a></li>
                                    <li><a href="/product/pain">Paint</a></li>
                                    <li><a href="/product/jean">Jean</a></li>
                                    <li><a href="/product/suit-case">Suit Case</a></li>
                                    <li><a href="/product/short">Short</a></li>
                                    <li><a href="/product/sweeter">Sweeter</a></li>
                                    <li><a href="/product/hoodie">Hoodie</a></li>

                                </ul>
                            </li>
                            
                            <li><a href="/product/sale-off">Sale off</a></li>
                            <li><a href="/blog">Blog</a></li>
                            <li><a href="/contact">Contact</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header__cart">
                        <ul>
                            <li><a href="#"><i class="fa fa-shopping-bag"style="font-size:25px;color: #34b86b;" ></i> <span>0</span></a></li>
                        </ul>
                        <div class="header__cart__price btn-checkout">Check Out</div>
                    </div>
                </div>
            </div>
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>