<section class="hero hero-normal">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="hero__categories">
                        <div class="hero__categories__all">
                            <i class="fa fa-bars"></i>
                            <span>All Production</span>
                        </div>
                        <ul>
                            <li><a href="/product/tee">Tee</a></li>
                            <li><a href="/product/jacket">Jacket | Bomber</a></li>
                            <li><a href="/product/pain">Paint</a></li>
                            <li><a href="/product/jean">Jean</a></li>
                            <li><a href="/product/suit-case">Suit Case</a></li>
                            <li><a href="/product/short">Short</a></li>
                            <li><a href="/product/sweeter">Sweeter</a></li>
                            <li><a href="/product/hoodie">Hoodie</a></li>
                            <li><a href="/product/bag">Bag</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="hero__search">
                        <div class="hero__search__form">
                            <form action="/product">
                                <div class="hero__search__categories">
                                    All Categories
                                    <span class="arrow_carrot-down"></span>
                                </div>
                                <input type="text" name="key"value="{{key}}" placeholder="What do yo u need?" style="color: #444;">
                                <button type="submit" class="site-btn">SEARCH</button>
                            </form>
                        </div>
                        <div class="hero__search__phone">
                            <div class="hero__search__phone__icon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="hero__search__phone__text">
                                <h5>+81 357156559</h5>
                                <span>Support 24/7 time</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>