
    <!-- Breadcrumb Section End -->

    <!-- Blog Section Begin -->
    <section class="blog spad">
        <div class="container">
            <div class="row" style="justify-content: center;">
                <h2>Account is active successfully</h2>
                
            </div>
            <div class="row" style="justify-content: center;">
                <i class="bi bi-check-lg" style="font-size: 150px;color:#33df58 "></i>
            </div>
            <div class="row" style="justify-content: center;">
                <a href="/login">Go to Login</a>
            </div>
                
        </div>
    </section>