
    <!-- Breadcrumb Section End -->

    <!-- Blog Section Begin -->
    <section class="blog spad">
        <div class="container">
            {{#if success}}

            {{else}}
            <div class="row" style="justify-content: center;">
                <h2>Please enter your new Password</h2>
            </div>
            {{/if}}
            
            <div class="row" style="justify-content: center;align-items: center;">
                {{#if success}}
                <h2> 
                    <i class="bi bi-check-lg" style="font-size: 150px;color:#33df58;margin-right: 10px; ">
                    </i>
                    Change password successfully
                    
                </h2>
                <div>
                    <a href="/login" style="display: block;text-align: center;">Go to login</a>
                </div>
                {{else}}
                <form class="row" style="flex-direction: column; padding: 10px;" method="post">
                    <h5 style="margin-bottom: 30px;color:#777;display: flex;">
                        <div style="width: 100px;">Username:</div> 
                        <span style="color: #333;">{{user.username}}</span></h5>
                    <h5 style="margin-bottom: 30px;color:#777;display: flex;"> 
                        <div style="width: 100px;">Name:</div>
                        <span style="color: #333;">{{user.name}}</span></h5>
                    <p>New password least 8 character</p>
                    <div class="form-group">
                        <label for="">New Password (*)</label>
                        <input type="password" name="newPassword" required="true">
                    </div>
                    <div class="form-group">
                        <label for="">Retype new Password (*)</label>
                        <input type="password" id="retype" required="true">
                        <span class="info-err" style="color: red;"></span>
                    </div>
                    <button id="type-pass"type="submit">Save New Password</button>
                </form>
                {{/if}}
                
            </div>
                
        </div>
    </section>
        <script>
        document.addEventListener('DOMContentLoaded',()=>{
            const retype=document.querySelector('#retype')
            retype.addEventListener('input',(e)=>{
                let password=document.querySelector('input[name="newPassword"]').value
                if(e.target.value!==password){
                    document.querySelector('.info-err').innerText="Don't match with new password"
                    document.querySelector('#type-pass').addEventListener('click',preventSubmit)
                }
                else{
                    document.querySelector('.info-err').innerText=''
                    document.querySelector('#type-pass').removeEventListener('click',preventSubmit)
                }
            })
            function preventSubmit(e){
                e.preventDefault()
                return
            }
        })
    </script>